.navbar-container{
    display: flex;
    background-color: #ee4d2d;
    align-items: center;
}
.header{
    margin-left: 45px;
    display: flex;
}
.header .logo {
    display: flex;
    color: white;
    margin-top: 10px;

}
.header .logo img {
    margin-top: 5px;
    justify-content: flex-start;
    height: 50px;
}

.search {
    margin-left: 20rem;
}
.search form {
    justify-content: end;
    text-align: center;
    width: 30rem;
}
.navbar-right {
    display: flex;
    margin-left: 20rem;
    padding: 20px;
}
.navbar-login {
    padding: 5px;
}
.navbar-register{
    padding: 5px;
}
.navbar-user{
    color: white;
}
.navbar-logout {
    padding: 15px;
    color:white;
}